.icon {
    position: relative;
    display: flex;
    border-radius: 50%;
    border: 0.5px solid var(--color-primary-100);
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    &:hover {
        border-color: var(--color-secondary);
        svg {
            color: var(--color-secondary-500);
        }
        .notiIcon {
            background-color: var(--color-red-bold);

        }
    }
}

svg {
    color: var(--color-secondary);
    transition: color 0.3s ease;
    &:hover {
        color: var(--color-secondary-500);
    }
}

.notiIcon {
    position: absolute;
    top: 4%;
    right: 4%;

    background-color: var(--color-red);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
