:root {
    --color-primary: #3563E9;
    --color-primary-100: #D6E4FD;
    --color-secondary: #596780;
    --color-secondary-500: #1A202C;
    --color-success: #000000;
    --color-white: #ffffff;
}

* {
    background-color: var(--color-white);
}